<div class="container">
<header>
  <p>User: {{user.username}} </p>
  <p> Type: {{user.type}} </p>
  <p>Bookings: {{user.bookings.length}}</p>
</header>

<br><br>
<h3>Bookings</h3>
 <h6>Tickets</h6>
 <div class="tableDiv" *ngIf="!isAdmin">
   <table>
     <tr>
       <th>Is Available</th>
       <th>Airline</th>
       <th>One way</th>
       <th>Depart date</th>
       <th>Return date</th>
       <th>Origin</th>
       <th>Destination</th>
       <th>Count</th>
     </tr>
     <tr *ngFor="let booking of bookings">
       <td>{{booking.available}}</td>
       <td>{{booking.ticket.airline.name}}</td>
       <td>{{booking.ticket.oneway}}</td>
       <td>{{booking.ticket.departDate | date:'dd-MM-yyyy' }}</td>
       <td>{{booking.ticket.returnDate | date:'dd-MM-yyyy' }}</td>
       <td>{{booking.flight.origin.name}}</td>
       <td>{{booking.flight.destination.name}}</td>
       <td>{{booking.ticket.count}}</td>
       <!-- <td><button *ngIf="!isAdmin" (click)="deleteBooking($event,booking)">Delete</button> </td> -->
       <td><button *ngIf="canUserDeleteBooking(event,booking.ticket)" (click)="deleteBooking($event,booking)">Delete</button> </td>
     </tr>

   </table>
 </div>
 <button type="submit" class="btn btn-primary" (click)="buyTickets($event)">Buy tickets</button>
</div>
